/* .about-us-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px;
  background-color: #efe6dd;
  text-align: center; 
  
  
}

.about-us-heading {
  font-size: 3rem;
  font-weight: bold;
  color: #5f5e7a; 
  margin-bottom: 50px;
  font-family: 'Alice';
  
}

.about-us-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  gap: 50px;
  flex-wrap: nowrap; 
  margin-top: 40px; 
}

.about-us-text {
  max-width: 50%;
  font-size: 1.25rem;
  color: #5f5e7a;
  text-align: left; 
}

.about-us-image {
  max-width: 40%; 
  flex-shrink: 0; 
}

.about-us-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .about-us-content {
    flex-direction: column;
  }

  .about-us-text,
  .about-us-image {
    max-width: 100%;
    text-align: center; 
  }
} */



  