/* 
.header {
  background-color: #efe6dd;
  color: #ffffff;
  padding: 10px;
  margin: 0 auto; 
  width: 100%; 
  grid-template-columns: 1fr 1fr;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  color: #ffffff;
  background-color: #efe6dd;
  margin: 0 auto; 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.logo img {
  width: 600px;
  height: auto;
}


nav ul {
  list-style: none;
  display:flex;
  justify-content: center;
  padding: 0;
  margin: 10px 0 0 0;
  flex-wrap: wrap; 

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #5f5e7a;
  text-decoration: none;
  padding: 5px 50px;
  font-weight: bolder;
  font-size: 30px;
}

@media (max-width: 768px) {
  .header {
    padding: 5px;
  }

  .logo img {
    width: 80px; 
  }

  .logo h1 {
    font-size: 1.5rem; 
  }

  nav ul {
    flex-direction: column; 
  }

  nav ul li {
    margin: 10px 0; 
  }

  nav ul li a {
    padding: 3px 8px;
  }
} */
